
#vschc-headers-card .card-body table {
    margin: 0;
}

#vschc-headers-card .card-body {
    padding: 0;
}

#vschc-headers-card .card-body table .vschc-name {
    width: 256px;
}

#vschc-headers-card .card-body table .vschc-actions {
    text-align: right;
    width: 96px;
}

#vschc-headers-card .card-body table .vschc-actions .btn {
    margin-left: 4px;
}

#vschc-input-body-text-label {
    vertical-align: top;
}

#vschc-send-request-col {
    padding-bottom: 16px;
    padding-right: 16px;
    padding-top: 8px;
}

#vschc-response-card pre {
    margin: 0;
}

#vschc-response-card .vschc-response-buttons {
    margin-top: 16px;
}

#vschc-response-card .vschc-response-buttons .btn {
    margin-left: 8px;
}

#vschc-body-file-content-to-display {
    margin-top: 8px;
}

#vschc-headers-card-heading .btn {
    margin-left: 8px;
}

#vschc-headers-card-heading span {
    cursor: pointer;
}

#vschc-send-request-col .btn .fa,
#vschc-btn-from-file .fa,
#vschc-response-card .vschc-response-buttons .btn .fa {
    margin-right: 8px;
}

#vschc-response-card .card-header .btn {
    margin-left: 8px;
}

#vschc-response-tab .vschc-response-tab-item a .vschc-buttons {
    padding-left: 8px;
}

#vschc-response-tab .vschc-response-tab-item a .vschc-buttons .btn {
    float: right;
}

#vschc-response-tab .vschc-response-tab-item a .vschc-buttons .btn .fa {
    margin-right: 0;
}

#vschc-send-request-col .btn {
    margin-left: 8px;
}
