
#vschc-headers-card .card-body table {
    margin: 0;
}

#vschc-headers-card .card-body {
    padding: 0;
}

#vschc-headers-card .card-body table .vschc-name {
    width: 256px;
}

#vschc-headers-card .card-body table .vschc-actions {
    text-align: right;
    width: 96px;
}

#vschc-headers-card .card-body table .vschc-actions .btn {
    margin-left: 4px;
}

#vschc-input-body-text-label {
    vertical-align: top;
}

#vschc-send-request-col {
    padding-bottom: 16px;
    padding-right: 16px;
    padding-top: 8px;
}

#vschc-response-card pre {
    margin: 0;
}

#vschc-response-card .vschc-response-buttons {
    padding: 16px 0;
}

#vschc-response-card .vschc-response-buttons {
    padding: 16px 0;
}

#vschc-response-card .alert {
    clear: both;
    margin-top: 8px !important;
}

#vschc-response-card .vschc-response-buttons .vschc-col-1 .btn {
    margin-left: 0px;
    margin-right: 8px;
}

#vschc-response-card .vschc-response-buttons .vschc-col-2 .btn {
    margin-left: 4px;
    margin-right: 4px;
}

#vschc-response-card .vschc-response-buttons .vschc-col-3 .btn {
    margin-left: 8px;
    margin-right: 0px;
}

#vschc-response-card .vschc-response-buttons .btn.float-right {
    margin-left: 8px;
    margin-right: 0px;
}

#vschc-body-file-content-to-display {
    margin-top: 8px;
}

#vschc-headers-card-heading .btn {
    margin-left: 8px;
}

#vschc-headers-card-heading span {
    cursor: pointer;
}

#vschc-send-request-col .btn .fa,
#vschc-btn-from-file .fa {
    margin-right: 8px;
}

#vschc-response-card .card-header .btn {
    margin-left: 8px;
}

#vschc-response-tab .vschc-response-tab-item a .vschc-buttons {
    padding-left: 8px;
}

#vschc-response-tab .vschc-response-tab-item a .vschc-buttons .btn {
    float: right;
}

#vschc-response-tab .vschc-response-tab-item a .vschc-buttons .btn .fa {
    margin-right: 0;
}

#vschc-send-request-col .btn {
    margin-left: 8px;
}

.vschc-response-overview .vschc-request-short-info .vschc-left {
    padding-right: 4px;
}

.vschc-response-overview .vschc-request-short-info .vschc-right {
    padding-left: 4px;
}

.vschc-response-overview .vschc-request-short-info .vschc-left,
.vschc-response-overview .vschc-request-short-info .vschc-right {
    vertical-align: middle;
}

.vschc-response-details .nav-item .fa {
    margin-right: 8px;
}

.vschc-response-details .vschc-button-list {
    display: block;
    margin: 0 0 16px 0;
}

.vschc-response-details .vschc-button-list .btn {
    margin-right: 8px;
}

#vschc-clone-request-btn {
    margin-left: 24px;
}

#vschc-input-url-group .input-group-append {
    cursor: pointer;
}

#vschc-edit-url-parameters-modal .modal-dialog {
    max-width: 75% !important;
}

#vschc-edit-url-parameters-modal .modal-body .vschc-param-list {
    margin-top: 8px;
}

#vschc-edit-url-parameters-modal .modal-body .vschc-param-list .vschc-name {
    width: 192px;
}

#vschc-edit-url-parameters-modal .modal-body .vschc-param-list .vschc-functions {
    text-align: right;
    width: 80px;
}

#vschc-edit-url-parameters-modal .modal-body {
    max-height: 600px;
    overflow-y: auto;
}

#vschc-edit-url-parameters-modal .modal-footer .btn .fa {
    margin-right: 8px;
}
